<<<<<<< HEAD
.book-card img {
  height: 220px;
  object-fit: cover;
}

.card-title {
  font-weight: 600;
  min-height: 3rem;
}
=======
.book-card img {
  height: 220px;
  object-fit: cover;
}

.card-title {
  font-weight: 600;
  min-height: 3rem;
}
>>>>>>> 817c98beb053107e8742942ddea2eb196f6efef8
