<<<<<<< HEAD
.my-box {
  background-color: lightblue;
  border: 2px solid darkblue;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  text-align: center;
  font-size: 24px;
  color: darkgreen;
  font-weight: bold;
}
=======
.my-box {
  background-color: lightblue;
  border: 2px solid darkblue;
  border-radius: 10px;
  padding: 20px;
  margin: 30px;
  text-align: center;
  font-size: 24px;
  color: darkgreen;
  font-weight: bold;
}
>>>>>>> 817c98beb053107e8742942ddea2eb196f6efef8
